@charset "UTF-8";
.wrapper {
  width: 100%;
  background-color: #cff1ff;
}

.inner {
  width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  padding-top: 60px;
  text-align: center;
}

.form-wrapper {
  background-color: #ecfaff;
  margin-top: 60px;
  padding: 50px;
}

.title2 {
  font-size: 24px;
  text-align: center;
}

.section-title {
  font-size: 18px;
  color: #000000;
}

.info {
  margin-top: 50px;
}

.label {
  color: #464646;
  font-size: 14px;
  margin-top: 25px;
}

.text-area {
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}

span {
  color: #e40000;
}

.birth-flex {
  display: flex;
}

.select-area {
  width: 100%;
  position: relative;
}

select {
  width: 100%;
  height: 35px;
  margin-top: 6px;
  padding: 5px;
  color: #545658;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.sex-area {
  margin-top: 6px;
}

.sex-element{
  margin-left: 10px;
}

.sex-element:first-child {
  margin-left: 0;
}

.sex-element span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  color: #545658;
}

.sex-element span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  transform: translateY(-50%);
}

.sex-content:checked +
span:after  {
  content: "";
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #017cbf;
  border-radius: 50%;
  transform: translateY(-50%);
}

.buying-element {
  margin-left: 20px;
}

.buying-element span {
  display: block;
  font-size: 14px;
  color: #464646;
  padding-left: 25px;
  position: relative;
}

.buying-area {
  padding-top: 15px;
}

.buying-element span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 15px;
  height: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
}

.buying-content:checked +
span::after  {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  width: 6px;
  height: 13px;
  margin-top: -11px;
  border-right: 3px solid #0140bf;
  border-bottom: 3px solid #0140bf;
  transform: rotate(45deg);
}

.btn {
  text-align: center;
  margin-top: 40px;
}

button {
  width: 100%;
  padding: 13px;
  background: #0170bf;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
}

button:active {
  background: #fff;
  color: #0170bf;
  border: 1px solid #d9d9d9;
}

.last-sentence {
  margin-top: 25px;
  font-size: 10px;
}

.last-sentence a {
  color: #0170bf;
  text-decoration: none;
}

input:focus {
  background-color: #fff;
  outline: none;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}

select:focus {
  background-color: #fff;
  outline: none;
  border-color: rgba(93, 130, 194, 0.4);
  box-shadow: 0px 0px 0px 2px rgba(1, 90, 191, 0.1);
}
